{displayText}

<script>
import translations from '../../services/translations.js';
import state from '../../stores/state.store.js';

const ERR = `Translation Error`;

export default {
  store: () => state,
  oncreate() {

    this.translate();

    const listener = this.store.on('state', ({ previous, current }) => {
      if (previous.config.language == current.config.language) return;
      this.translate();
    });

    this.on('destroy', () => {
      listener.cancel();
    });
  },
  onupdate() {
    this.translate();
  },
  data() {
    return {
      text: null,
      displayText: '',
      translations
    }
  },
  methods: {
    translate() {

      const data = this.get();
      const lang = this.store.get().config.language || 'en';

      let result = translations[lang];
      let err;

      if (!data.text) err = `${ERR}: "text" attribute is required.`;
      if (!lang) err = `${ERR}: Language not set.`;

      let txtArr = data.text.split('.');

      if (!err) {
        for (let i=0; i < txtArr.length; i++) {
          let attr = txtArr[i];
          if (result[attr])
            result = result[attr];
          else {
            err = `Translation Error: No such attribute [${attr}] from ${data.text}".`;
            break;
          }
        }
      }

      this.set({displayText: err || result});


    }
  }
}
</script>
