<Ladda class="buy-voucher-btn btn btn-primary {show? '' : 'hidden'}" spinnercolor="#fff" ladda="{queing}" on:click="que('voucher')">
<TranslationText text="{queing? 'PLEASE_WAIT' : 'buttons.BUY_VOUCHER'}"></TranslationText>
  

  <!--{queing? 'Pl : 'Buy Voucher'}-->
</Ladda>

<script>
  import ClientHttp from '../../services/client.http.js';
  import Ladda from 'svelte-ladda';
  import TranslationText from '../translation-text/TranslationText.html';

export default {
  components: {Ladda, TranslationText},
  data() {
    return {
      queing: false,
      show: true
    }
  },
  methods: {
    que(type) {
      this.set({queing: true})
      ClientHttp.que(type)
        .then(() => {
          this.set({queing: false})
          this.fire('queing');
        })
        .catch(() => {
          this.set({queing: false})
        })
    }

  }
}
</script>
