.home-con, .rates-modal {
  .buttons-con {
    margin-top: -20px;

    .btn {
      margin-top: 20px;
    }
  }
}

@media (max-width: 500px) {
  .home-con, .rates-modal {
    .buttons-con {
      .btn {
        width: 100%;
        max-width: 170px;
      }
    }
  }
}
