<form class="voucher-form" name="voucherForm">
  <div class="form-group">
    <label>
      <TranslationText text="DO_YOU_HAVE_A_VOUCHER"></TranslationText> 
    </label>
    <input type="text" autocomplete="off" placeholder="Voucher Code or Token" bind:value=code name="code" class="form-control" required>
  </div>
  <Ladda disabled="{!code}" ladda="{submitting}" class="btn {getClass(code)}" on:click="submit(event, code)" spinnercolor="#fff">
  <TranslationText text="buttons.USE_VOUCHER"></TranslationText>
  </Ladda>
</form>

<script>

import Ladda from 'svelte-ladda';
import TranslationText from '../translation-text/TranslationText.html';
import ClientHttp from '../../services/client.http.js';

export default {
  components: {
    Ladda,
    TranslationText
  },
  data() {
    return {
      submitting: false,
      code: ''
    }
  },
  methods: {
    submit(e, code) {
      e.preventDefault();
      if (code) {
        this.set({submitting: true})
        ClientHttp.activateVoucher(code)
          .then(res => {
            this.set({
              code: '',
              submitting: false
            })
          })
          .catch(() => {
            this.set({submitting: false});
          });
      }
    }
  },
  helpers: {
    getClass(code) {
      return code ? 'btn-primary' : 'btn-default';
    }
  }
}
</script>
