<div class="insert-coin-con text-center">

  <h2 class="text-success">{$pageTitle}</h2>

  <div class="insert-coin">
    <img src="{insertCoin}" alt="">
  </div>

  <p class="your-time">
  Your Time:
  <span class="{$client.remaining_time > 0 ? 'text-success' : 'text-danger'}">
    <FormatSeconds seconds="{$client.remaining_time}"></FormatSeconds>
  </span>
  </p>

  <DonePayingOrCancelBtn voucher="{$voucher}" client="{$client}"></DonePayingOrCancelBtn>
  <div class="counter-timer padd-top">
    <CounterTimer></CounterTimer>
  </div>

</div>

<script>

import Sounds from '../services/sounds.js';
import state from '../stores/state.store.js';
import InserCoin from '../img/insert-coin.gif';

import CounterTimer from './counter-timer/CounterTimer.html';
import DonePayingOrCancelBtn from './done-paying-or-cancel-btn/DonePayingOrCancelBtn.html';
import FormatSeconds from './format-seconds/FormatSeconds.html';

export default {
  store: () => state,
  components: {
    CounterTimer,
    DonePayingOrCancelBtn,
    FormatSeconds
  },
  oncreate() {
    state.set({pageTitle: 'Insert Coin Now'})
    try {
      Sounds.insertCoin.play();
    } catch(e) {
      console.log(e);
    }
  },
  ondestroy() {
    try {
      Sounds.insertCoin.stop();
    } catch (e) {
      console.log(e);
    }
  },
  data() {
    return {
      insertCoin: InserCoin
    };
  }
}
</script>

<style>
.insert-coin {
  width: 150px;
  margin: 15px auto;
}
.insert-coin img {
  width: 100%;
}
</style>
