<div class="text-center">

  <h2 class="text-success">{$pageTitle}</h2>

  <div class="insert-coin">
    <img src="{insertCoin}" style="width: 100%;" alt="">
  </div>

  <p>
  Voucher Time:
  <span class="{$voucher.total_time > 0 ? 'text-success' : 'text-danger'}">
    <FormatSeconds seconds="{$voucher.total_time}"></FormatSeconds>
  </span>
  </p>

  <DonePayingOrCancelBtn voucher="{$voucher}" client="{$client}"></DonePayingOrCancelBtn>
  <div class="padd-top">
    <CounterTimer></CounterTimer>
  </div>

</div>

<script>
  import state from '../stores/state.store.js';
import Sounds from '../services/sounds.js';
import InserCoin from '../img/insert-coin.gif';

import CounterTimer from './counter-timer/CounterTimer.html';
import DonePayingOrCancelBtn from './done-paying-or-cancel-btn/DonePayingOrCancelBtn.html';
import FormatSeconds from './format-seconds/FormatSeconds.html';

export default {
  store: () => state,
  components: {
    CounterTimer,
    DonePayingOrCancelBtn,
    FormatSeconds
  },
  oncreate() {
    state.set({
      pageTitle: 'Pay For Voucher',
      voucher: {
        total_time: 0
      }
    })
    try {
      Sounds.insertCoin.play();
    } catch(e) {
      console.log(e);
    }
  },
  ondestroy() {
    try {
      Sounds.insertCoin.stop();
    } catch (e) {
      console.log(e);
    }
  },
  data() {
    return {
      insertCoin: InserCoin
    };
  }
}
</script>

<style>
.insert-coin {
  width: 150px;
  margin: 15px auto;
}
</style>
