<Ladda ladda="{queing}" class="insert-coin-btn btn btn-success {show? '' : 'hidden'}" on:click="que('credit')" spinnercolor="#fff">
  <TranslationText text="{queing? 'PLEASE_WAIT' : 'buttons.INSERT_COIN'}"></TranslationText>
</Ladda>

<script>
import ClientHttp from '../../services/client.http.js';
import Ladda from 'svelte-ladda';
import TranslationText from '../translation-text/TranslationText.html';

export default {
  components: {
    Ladda,
    TranslationText
  },
  data() {
    return {
      queing: false,
      show: true
    }
  },
  methods: {
    que(type) {
      this.fire('click');
      this.set({queing: true})
      ClientHttp.que(type)
        .then(() => {
          this.set({queing: false})
          this.fire('queing');
        })
        .catch(() => {
          this.set({queing: false})
        })
    }
  }
}
</script>
