
<Ladda ladda="{submitting}" class="done-paying-or-cancel-btn btn {klass}" on:click="done(client.remaining_time)" spinnercolor="#fff">
<TranslationText text="{btnText}"></TranslationText>
</Ladda>

<script>
import Ladda from 'svelte-ladda';
import TranslationText from '../translation-text/TranslationText.html';
import ClientHttp from '../../services/client.http.js';

export default {
  components: {
    Ladda,
    TranslationText
  },
  data() {
    return {
      client: {},
      voucher: {},
      submitting: false
    }
  },
  computed: {
    klass: ({client, voucher}) => {
      const time = client.que_type !='voucher' ? client.remaining_time : voucher.total_time;
      const klass = client.status == 'connected'? 'btn-success' : (time > 0? 'btn-success' : 'btn-warning');
      return klass;
    },
    btnText: ({client, voucher}) => {
      const time = client.que_type !='voucher' ? client.remaining_time : voucher.total_time;
      const btnText = client.status == 'connected'
        ? (client.que_type == 'voucher' ? 'buttons.DONE_PAYING_FOR_VOUCHER' : 'buttons.IM_DONE_PAYING')
        : (time > 0
          ? (client.que_type !='voucher'
            ? 'buttons.START_INTERNET':
            'buttons.DONE_PAYING_FOR_VOUCHER')
          : `buttons.CANCEL`);
      return btnText;
    }
  },
  methods: {
    done(remaining_time) {
      this.set({submitting: true});
      ClientHttp.start()
        .then(() => {
          this.set({submitting: false})
        })
        .catch(() => {
          this.set({submitting: false})
        })

    }
  }
}
</script>
